@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  animation: backgroundAnimation 20s ease infinite;
  background: linear-gradient(270deg, #4ecdc4, #88d8b0, #ff6b6b);
  background-size: 400% 400%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  background-color: #8e989c;
  color: #f5f3f3;
  padding: 10px;
  text-align: center;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  text-align: center;
}

.navbar ul {
  list-style: none;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px; 
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px; 
}

.navbar a:hover,
.navbar a:focus {
  background-color: rgba(7, 7, 7, 0.1); 
}


.logo {
  overflow: hidden;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.card {
  background-color: #ccc1c1;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card-content {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.card-link {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.card-link:hover {
  text-decoration: underline;
}

.feedback-container {
  background-color: #858080;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.feedback-form {
  margin-bottom: 20px;
}

.feedback-form label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #555;
}

.feedback-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.feedback-form button {
  background-color: #8aa3a8;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #0d0d0e;
}

.feedback-comments {
  margin-top: 20px;
}

.feedback-comments h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.feedback-comments ul {
  list-style: none;
  padding: 0;
}

.feedback-comments li {
  font-size: 16px;
  color: #ebdfdf;
  margin-bottom: 8px;
}

.score-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.score-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.score-message {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.correct-answers,
.incorrect-answers {
  margin-top: 20px;
}

.correct-answers h3,
.incorrect-answers h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.correct-answers p,
.incorrect-answers p {
  color: #555;
}

.correct-answers ul,
.incorrect-answers ol {
  list-style: none;
  padding: 0;
}

.correct-answers li,
.incorrect-answers li {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.question-container {
  background-color: #d8c7c7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.question-text {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.choices-container {
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  border: 1px solid #afa8a8;
  border-radius: 16px;
  padding: 11px;
  margin-top: 20px;
  cursor: pointer;
}
.label-container {
  display: block;
  margin-bottom: 10px;
}

.choice-input {
  margin-right: 10px;
}

.feedback {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: baseline;
}

.prev-button,
.next-button, .submit-button {
  background-color: #8aa3a8;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.prev-button:hover,
.next-button:hover {
  background-color: #1d2123;
}

.footer {
  color: #fff;
  padding: 10px;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  overflow: hidden;
}

.social-media a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.social-media a:hover img {
  transform: scale(1.2);
}

p {
  margin: 0;
  font-size: 14px;
}

.submitted-feedback {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 15px;
}

.submitted-feedback h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
}

.submitted-feedback p {
  font-size: 16px;
  color: #555;
}